tr {
    cursor: pointer;
  }

.headertabela{
  background-color: #D5D5D5FC;
}

.conteudo{
  color: black;
}

.icon-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem; /* Ajuste conforme necessário */
}

.align-middle {
  display: inline-block;
  vertical-align: middle;
}
