
 <div class="sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table
          class="min-w-full text-left text-sm font-light text-surface dark:text-white">
          <thead
            class="border-b border-neutral-200 font-medium dark:border-white/10">
            <tr class="headertabela">
              <th scope="col" class="px-6 py-4">Usuário</th>
              <th scope="col" class="px-6 py-4">Data do acesso</th>
            </tr>
          </thead>
          <tbody>
            @for (item of data; track $index){
              <tr class="border-b border-neutral-200 dark:border-white/10 conteudo">
                <td class="whitespace-nowrap px-6 py-4">
                  <div class="icon-container">
                    <mat-icon>person</mat-icon>
                  </div>
                  <span class="align-middle">{{item.permissionamento.usuario.empresa.empresa_nome}}</span>
                </td>
                <td class="whitespace-nowrap px-6 py-4">{{item.arquivo_acesso}}</td>
              </tr>
            }
            
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
