<div id="accordionFlushExample">
  <div *ngFor="let item of accordionItems" class="rounded-lg rounded-t-lg border border-e-0 border-s-0 border-t-0 border-neutral-200 bg-white dark:border-neutral-600 dark:bg-body-dark" style="min-width: 900px;">
    <h2 class="mb-0" [attr.id]="item.id">
      <button class="group relative flex w-full items-center rounded-none border-0 bg-white px-5 py-4 text-left text-base text-neutral-800 transition overflow-anchor-none hover:z-[2] focus:z-[3] focus:outline-none dark:bg-body-dark dark:text-white" type="button" (click)="toggleAccordion(item)">
        {{ item.title }}
        <span class="-me-1 ms-auto h-5 w-5 shrink-0 transition-transform duration-200 ease-in-out group-data-[twe-collapse-collapsed]:me-0 group-data-[twe-collapse-collapsed]:rotate-0 motion-reduce:transition-none" [ngClass]="{'rotate-[-180deg]': !item.collapsed}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
        </span>
      </button>
    </h2>
    <div [attr.id]="item.id + '-content'" [ngClass]="{'!visible': !item.collapsed, 'hidden': item.collapsed}" class="border-0" data-twe-collapse-item [attr.aria-labelledby]="item.id" data-twe-parent="#accordionFlushExample">
      <div class="px-5 py-4">
        <p>Descrição: {{ item.content.descricao }}</p>
        <p>Data: {{ item.content.data }}</p>
        <p>Versão: {{ item.content.versao }}</p>
        <p>Link: {{ item.content.link }}</p>
      </div>
    </div>
  </div>
</div>
