mat-sidenav-container {
  height: calc(205vh - 115vh);
}
mat-sidenav {
  width: 240px;
  background-color: #d5d5d5;
}

.active {
  text-decoration: underline;
}

.example-spacer {
  flex: 1 1 auto;
}

