.proposta {
    display: flex;
    align-items: center;
    padding: 50px;
}

.proposta h1 {
    margin-right: 10px;
}

.proposta mat-icon {
    margin-bottom: 20px;
    margin-right: 10px;
}

.grupo{
    width: 262px;
    height: 165px;
    top: 210px;
    left: 179px;
    gap: 8px;
    border-radius: 8px;
    background-color: white;
    margin-left: 40px;
}

.grupo .quantidade{
    background-color: #D5D5D5;
    width: 20px;
    height: 20px;
}

.pessoasAcesso{
    width: 257px;
    height: 536px;
    margin-left: 40px;
    padding-top: 15px;
    padding-left: 10px;
}

.dadosPessoa {
    display: flex;
    align-items: flex-start; 
  }
  
.dadosPessoa mat-icon {
    margin-right: 10px; 
 }

.dadosPessoa div p {
    margin-top: -20px; 
}
  
.texto-botao {
    margin-top: -2px; 
}

.botaoacesso{
    margin-top: 50px;
    margin-left: 16px;
}