<div class="proposta">
    <mat-icon>folder_open</mat-icon>
    <h1>Proposta 1</h1>
</div>

<div class="w-96 text-surface dark:text grupo">
  <button
    aria-current="true"
    type="button"
    class="flex items-center justify-start w-full p-4 focus:text-black focus:ring-0 active:bg-[#00789E]">
    <mat-icon class="mr-2">insert_drive_file</mat-icon>
    Arquivos
    <div class="quantidade ml-auto">2</div>
  </button>

  <button
    type="button"
    class="flex items-center justify-start w-full p-4 focus:text-black focus:ring-0 bg-[#00789E]">
    <mat-icon class="mr-2">insert_link</mat-icon>
    Acessos
    <div class="quantidade ml-auto">2</div>
  </button>

  <button
    type="button"
    class="flex items-center justify-start w-full p-4 focus:text-black focus:ring-0 active:bg-[#00789E]">
    <mat-icon class="mr-2">insert_comment</mat-icon>
    Comentários
    <div class="quantidade ml-auto">1</div>
  </button>
</div>

<div class="pessoasAcesso">
  <h2>Pessoas com Acesso</h2>

  <div class="empresa1">
    <div class="dadosPessoa">
      <mat-icon>person</mat-icon>
      <div>
        <h3>{{ empresa.nome}}</h3>
        <p>{{ empresa.email}}</p>
      </div>
    </div>
  </div>

  <div class="empresa2">
    <div class="dadosPessoa">
      <mat-icon>person</mat-icon>
      <div>
        <h3>{{ empresa.nome }}</h3>
        <p>{{ empresa.email }}</p>
      </div>
    </div>
  </div>


  <button type="button" data-twe-ripple-init data-twe-ripple-color="light" class="flex items-center rounded bg-primary-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong botaoacesso">
    <mat-icon class="mr-2">vpn_key</mat-icon>
    Modificar acesso
  </button>
  

</div>
