<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Meus Projetos</span>
  <span>Todos Projetos</span>
  <span>Projetos Arquivados</span>
  <span class="example-spacer"></span>
  <p>SuperAdmin</p>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<app-acesso-lateral></app-acesso-lateral>
<app-acesso-principal></app-acesso-principal>

