<!-- tabela.component.html -->
<div class="container mx-auto p-4 mt-4">
  <h1>Listas compartilhadas</h1>
  <div class="mb-4">
    <select [(ngModel)]="projetoFilter" (change)="filtrarItens()" class="p-2 border rounded-md mr-2 mt-2 ">
      <option value="">Filtrar por projeto...</option>
      @for (name of projetosUnicos; track $index) {
      <option>{{ name }}</option>
      }
    </select>

    <select [(ngModel)]="disciplinaFilter" (change)="filtrarItens()" class="p-2 border rounded-md mr-2 mt-2">
      <option value="">Filtrar por disciplinas...</option>
      @for (name of disciplinasUnicas; track $index) {
        <option>{{ name }}</option>
      }
    </select>

    <select [(ngModel)]="etapaFilter" (change)="filtrarItens()" class="p-2 border rounded-md mr-2 mt-2">
      <option value="">Filtrar por etapas...</option>
      @for ( name of etapasUnicas; track $index) {
        <option>{{ name }}</option>
      }
    </select>

    <button (click)="limpar()" class="p-2 border rounded-md ml-4 bg-neutral-300 mt-2 mb-2">Limpar filtro</button>

  </div>

  <div  class="rounded-lg border-1 border-neutral-300 bg-white p-4">
    <table class="min-w-full border-collapse border rounded-lg overflow-hidden">
      <thead>
        <tr class="bg-neutral-300">
          <th class="border p-2">Nome</th>
          <th class="border p-2">Projeto</th>
          <th class="border p-2">Disciplina</th>
          <th class="border p-2">Etapa</th>
          <th class="border p-2">Data</th>
        </tr>
      </thead>
      <tbody>
        @for (item of listasFiltradas; track $index) {
          <tr class="transition duration-300 ease-in-out hover:bg-neutral-100 rounded-md" [routerLink]="['/proposta', item.lista_compartilhada_id]">
            <td class="border p-2 rounded-md">{{ item.descricao }}</td>
            <td  class="border p-2 rounded-md">{{ item.projeto.nome}}</td>
            <td class="border p-2 rounded-md">{{ formatarNomesDisciplinas(item.disciplinas) }}</td>
            <td class="border p-2 rounded-md">{{ formatarNomesEtapas(item.etapas) }}</td>
            <td class="border p-2 rounded-md">{{ item.data }}</td>
          </tr>
        }
      </tbody>
    </table>

  </div>

</div>
<router-outlet></router-outlet>


