.Acesso{
    width: 257px;
    height: 536px;
    margin-left: 10px;
    padding-top: 60px;
}

.Acesso button{
    margin-top: 30px;
}

.Acesso h3{
    font-size: 16px;
    font-weight: 400;
}

.textoEmpresa{
    font-size: 16px;
    margin-left: 8px;
    margin-top: 20px;
}